// Place all the styles related to the packages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.package {
  display: block;
  padding: 10px;
  border: 1px solid #e4e4e4;
  margin-bottom: 20px;
}
